# node_modules
/node_modules

# json files
*.json

# accept package.json
!package.json
!package-lock.json

# images
*/images

# scripts
/json-to-txt
/txt-to-pdf
/universal-scraper-suite
/ai-tools-rewriter
